@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;    
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

:root{
    --box-shadows: #000;
    --backgrounds: #003868;
    --titles: #fff;
    --bg-menu-fixo: #000;
    --bg-body: #fff; 
    --buttons:  rgb(66, 110, 66);
}

body{
    background: var(--bg-body);
}

.container {
    margin: 2% auto;
    width: 30%;
    border: 2px solid #000;
    padding: 20px;
    height: 100vh auto;
    background: var(--backgrounds);
    min-height: 100vh auto;
}

h2{
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 1px var(--box-shadows);
    
}


header{
    background: var(--backgrounds);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;  
}



/*MENU FIXO */
.menu-fixo {
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: all 0s;
    background: var(--bg-menu-fixo);
}

.logo{
    display: flex;
    align-items: center;
}

.logo a i{
    color: #fff;
    text-shadow: 2px 2px 1px #000;
}

.logo a i:hover{
    color: #78a890;
}

.nav-list{
    display: flex;
    align-items: center;  
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    text-shadow: 2px 1px 1px #000;
    font-weight: 900;
}

.nav-link:hover{
    color: #78a890;
    font-size: 1.7em;
}

.mobile-menu-icon button i{
    color: #fff;
    text-shadow: 2px 1px 1px #000;
}

.mobile-menu-icon, .mobile-menu{
    display: none;
}

.search{
    width: 46%;
    margin-bottom: 10px;
}

.input-field-search{
    height: 40px;
    width: 30%;
    margin-left: 1px;
    margin-bottom: 20px;
    outline-style: none;
    border-style: none;
    font-size: 1.4em;
    color: #000;
    font-weight: 900;
    box-shadow: 0px 0px 2px 2px #000;
}


/*===========FORMULARIO=================*/
label {
    display: inline-block;
    margin: 10px 0;
    color: #fff;
    text-shadow: 2px 1px 1px #000;
    font-weight: 900;
}

input[type='text'],
input[type='number'] {
    border: 1px solid #dedede;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    color: #000;
    font-weight: 900;
}

input:focus{
    outline: none;
    font-size: 1.2em;
    border: 1px solid #000;
}

.btn {
    cursor: pointer;
    background-color: var(--buttons);
    color: var(--titles);
    border: 0;
    display: block;
    font-size: 1.3em;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    font-weight: 900;
    text-shadow: 2px 1px 1px #000;
}

.btn:hover, .btn-print:hover{
    background: #103900;
}

.btn:focus,
.delete-btn:focus, select:focus {
    outline: 0;
}


.btn-delete{
    color: #fff;
    background-color: rgb(128, 61, 61);
    cursor: pointer;
    border: 0;
    font-size: 1em;
    padding: 2px;
    border-radius: 5px;
    width: 35px;
}

.btn-delete:hover{
    background-color: #d62828;
}

select{
    width: 100%;
    outline: none;
    font-size: 1.2em;
    border: 1px solid #dedede;
    display: block;
    padding: 10px;
    color: #000;
    font-weight: 900;    
}

/*===========MEDIA QUERIES==============*/

@media screen and (max-width: 768px) {


    .nav-bar{
        padding: 1rem 2rem;
    }

    .nav-item{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }
    
    .mobile-menu-icon button{
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon button img{
        display: block;
        width: 40px;
        height: 35px;
    }

    .logo a img{
        background-color: #fff;
        padding: 4px;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    
    .open{
        display: block;
        background: #000;
    }

    .container{
        width: 90%;
        margin: 5% auto;
        padding: 10px;
    }

    .input-field-search{
        margin-bottom: 20px;
        box-shadow: 0px 0px 2px 2px #000;
    }

    .search{
        width: 100%;
        margin-bottom: 10px;
    }

}




